<p-toast></p-toast>
<div class="grid">
    <button *ngIf="loading" class="btn btn-success offset-md-5 cursor-wait mt-4" type="button" disabled>
        Loading...<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
</div>
<div class="card" *ngIf="!loading">
    <p-toolbar styleClass="p-mb-4">
        <div class="row w-100">
            <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-uppercase">Staff</li>
                    <li class="breadcrumb-item text-success text-uppercase" aria-current="page">Lịch sân hôm nay
                    </li>
                </ol>
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <!-- <button class="btn btn-success btn-circle m-1" id="button-plus" (click)="openNew()">
                <i class="fa fa-plus"></i>
            </button> -->
            <button class="btn btn-success btn-circle m-1" id="button-refresh" (click)="loadStaffBooking()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="input-group rounded justify-content-end w-25">
            <input [(ngModel)]="keyword" type="search" class="form-control rounded" placeholder="Tìm kiếm Email"
                aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-search" (click)="searchStaffBooking(keyword)"></i>
            </span>
        </div>
    </p-toolbar>

    <p-table #dt [value]="staffBookings" [rows]="10" [paginator]="true" [globalFilterFields]="['email']" [rowHover]="true"
        dataKey="staffBookingId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th pSortableColumn="fieldName">Tên sân<p-sortIcon field="fieldName"></p-sortIcon></th>
                <th pSortableColumn="fullName">Tên người đặt<p-sortIcon field="fullName"></p-sortIcon></th>
                <th pSortableColumn="phone">Số điện thoại<p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="status">Trạng thái thanh toán<p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="priceBooking">Giá sân<p-sortIcon field="priceBooking"></p-sortIcon></th>
                <th pSortableColumn="startTime">Thời gian bắt đầu<p-sortIcon field="startTime"></p-sortIcon></th>
                <th pSortableColumn="endTime">Thời gian kết thúc<p-sortIcon field="endTime"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staffBooking let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex}}</td>
                <td>{{staffBooking.fieldName}}</td>
                <td>{{staffBooking.fullName}}</td>
                <td>{{staffBooking.phone}}</td>
                <td>{{staffBooking.status | statusPrice}}</td>
                <td>{{staffBooking.priceBooking}}</td>
                <td>{{staffBooking.startTime | date: "HH:mm:ss"}}</td>
                <td>{{staffBooking.endTime | date: "HH:mm:ss"}}</td>
                <td>

                    <!-- <button class="btn btn-warning rounded-circle m-1" (click)="editStaffBooking(staffBooking)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger rounded-circle m-1" (click)="deleteStaffBooking(staffBooking)">
                        <i class="fa fa-trash"></i>
                    </button> -->

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng cộng có {{staffBookings ? staffBookings.length : 0 }} Staff.
            </div>
        </ng-template>
    </p-table>
</div>

<!-- <p-dialog [(visible)]="staffBookingDialog" [style]="{width: '1000px'}" header="Chi tiết Staff" [modal]="true"
    styleClass="p-fluid">

    <div class="row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="staffBooking.email" class="form-control" id="email" placeholder="Email">
        </div>
        <div *ngIf="!hidePass" class="form-group col-md-6">
            <label for="password">Mật khẩu</label>
            <input type="password" [(ngModel)]="staffBooking.password" class="form-control" id="password"
                placeholder="Mật khẩu">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="fullName">Họ tên</label>
            <input type="fullName" [(ngModel)]="staffBooking.fullName" class="form-control" id="fullName" placeholder="Họ tên">
        </div>
        <div class="form-group col-md-6">
            <label for="role">Role</label>
            <select id="role" class="form-select" [(ngModel)]="staffBooking.role" aria-label="Select type">
                <option value="staffBooking">Staff</option>
                <option value="staff">Staff</option>
            </select>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button class="btn " (click)="hideDialog()">
            <i class="fa fa-times"></i> Hủy
        </button>
        <button class="btn " (click)="saveStaffBooking()">
            <i class="fa fa-check"></i> Chấp nhận
        </button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->


