<footer class="bg-light text-center mt-4 pt-4">
    <div class="container pt-4">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../../../assets/img/logo.png" alt="Logo" width="180px" >
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled text-start">
            <li><h5>QUICK LINKS</h5></li>
            <li><a href="#" class="text-dark text-decoration-none">Về chúng tôi</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Đăng ký hợp tác</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Blog - tin tức</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled text-start">
            <li><h5>THÔNG TIN LIÊN HỆ</h5></li>
            <li><a href="#" class="text-dark text-decoration-none">Điện thoại: 0772805566</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Email: Haob1910371@student.ctu.vn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center text-dark p-3 container"><hr>
      © All rights reserved 2023
    </div>
</footer>
  
  