<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Đăng nhập</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input formControlName="Email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')">Email là bắt buộc</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="Password" [type]="type" placeholder="Mật khẩu">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')">Password là bắt buộc</small>
                            <div class="from-inline fr mt-4">
                              <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">Quên mật khẩu?</a>
                            </div>
                            <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Đăng nhập</button>
                            <div class="text-center pt-4 text-muted">
                              Bạn chưa có tài khoản?<a id="forget" href="/userSignup"> Đăng ký</a>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight: 700;">Lấy lại mật khẩu của bạn</span><br>
                    <small>Vui lòng điền địa chỉ Email của bản để nhận link thay đổi mật khẩu</small>
                </p>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"><span class="fa fa-user p-2"></span><input type="text" [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" placeholder="Email"></div>
                </div>
                <small *ngIf="!resetPasswordEmail" class="text-danger">*Email là bắt buộc</small>
                <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*Email phải hợp lệ</small>
            </div>
            <div class="modal-footer">
                <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" (click)="confirmToSend()" class="btn btn-primary">Gửi</button>
            </div>
        </div>
    </div>
</div>